<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>246078088676-1vu0f74qaflmt5e9j322eadepneubtg4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.246078088676-1vu0f74qaflmt5e9j322eadepneubtg4</string>
	<key>API_KEY</key>
	<string>AIzaSyDkVoIQM4s4XGgkW_VnVvyVZuhf_YlGUQA</string>
	<key>GCM_SENDER_ID</key>
	<string>246078088676</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aquapoint.userApp</string>
	<key>PROJECT_ID</key>
	<string>aqua-point-bd</string>
	<key>STORAGE_BUCKET</key>
	<string>aqua-point-bd.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:246078088676:ios:8c5babeabf6b1afc8393f1</string>
</dict>
</plist>